@import url(main.css);

.menu li {
    display: inline-block;
}

.mobMenu {
    display: none;
    position: absolute;
    top: 20px;
    left: calc(((100% - 80px) / 9 - 30px) / 2);
}

.dop {
    flex-basis: calc((100% - 100px) * 5 / 11 + 40px);
    text-align: left;
    font-size: 0.75rem;
    margin: 0 10px;
}

.nav3 {
    color: black;
    text-align: right;
    flex-basis: calc((100% - 100px) * 4 / 11 + 30px);
}

.menu a {
    color: black;
    font-size: 1rem;
    margin: 0 5px;
}

#menuOn {
    display: none;
}

p {
    font-size: 18px;
}

.main_grid {
    display: grid;
    grid-template-columns: calc((100% - 110px) /12 + 10px) 1fr;
    /*grid-template-rows: ;*/
    grid-template-areas:
        "left0 galleryMain"
        "left0 animals1"
        "left0 animals2"
        "footer footer";
}

.left0 {
    grid-area: left0;
    background-color: #FFCC48;
    margin-right: 10px;
}

.galleryMain {
    grid-area: galleryMain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.animals {
    grid-area: animals2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.animals>div {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 100px) * 3 / 11 + 20px);
    margin: 0 10px;
    padding-top: 200px;
}

.animals>div>img {
    width: 100%;
}

.butts {
    margin-top: auto;
    text-align: center;
}

.prev,
.next {
    padding: 20px 15%;
    display: inline-block;
}

footer {
    grid-area: footer;
}

h3 {
    padding-bottom: 30px;
}

p {
    padding-bottom: 40px;
}

h2 {
    transform: rotate(-90deg) translateX(-272%);
}

.animals {
    padding-bottom: 100px;
}

@media screen and (max-width: 1660px) {
    h2 {
        transform: rotate(-90deg) translateX(-332%);
    }
}

@media screen and (max-width: 1280px) {
    h2 {
        transform: rotate(-90deg) translateX(-390%);
    }
}

@media screen and (max-width: 1024px) {
    h2 {
        transform: rotate(-90deg) translateX(-490%);
    }

    .nav3 {
        position: absolute;
        padding-top: 100px;
    }
}

@media screen and (max-width: 768px) {
    .main_grid {
        grid-template-columns: calc((100% - 80px) / 9 + 10px) 1fr;
    }


    .animals>div {
        flex-basis: calc((100% - 70px) * 6 / 8 + 50px);
    }

    h1.dop {
        display: none;
    }


    .nav3 {
        color: black;
        text-align: right;
    }

    .menu a {
        color: black;
        font-size: 1rem;
    }


    .menu li {
        display: inline-block;
    }

    .but2 {
        margin: 0 auto;
        margin-top: auto;
        text-align: center;
        padding-left: 25px;
    }

    h2 {
        font-size: 30px;
        transform: rotate(-90deg) translateX(-440%);
    }


}

@media screen and (max-width: 375px) {
    h2 {
        transform: rotate(-90deg) translateX(-620%);
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .nav3 {
        position: absolute;
        padding-top: 100px;
    }

    .animals>div {
        padding-top: 100px;
    }
}