@import url(main.css);

p {
    font-size: 18px;
}

h3 {
    padding-bottom: 24px;
    font-size: 30px;
}

p {
    padding-bottom: 30px;
}

.s4,
.s5,
.s6 {
    padding-top: 140px;
}

/*====================================*/
.nav3 {
    color: black;
    text-align: right;
}

.menu a {
    color: black;
    font-size: 1rem;
}

#menuOn {
    display: none;
}

.menu li {
    display: inline-block;
}

.mobMenu {
    display: none;
    position: absolute;
    top: 20px;
    left: calc(((100% - 80px) / 9 - 30px) / 2);
}


/*=====================================*/
.main_grid {
    display: grid;
    grid-template-columns: calc((100% - 110px) /12 + 10px) 1fr;
    /*grid-template-rows: ;*/
    grid-template-areas:
        "left0 galleryMain"
        "exhib exhibition"
        "post posters"
        "web web_posters"
        "footer footer";
}

.left0 {
    grid-area: left0;
    background-color: #FFCC48;
    margin-right: 10px;
}

.galleryMain {
    grid-area: galleryMain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding-bottom: 100px;
}

.exhib {
    grid-area: exhib;
    background-color: #FFCC48;
    margin-right: 10px;
}

.exhib h2 {
    transform: rotate(-90deg) translateX(-84%);
}

.exhibition {
    grid-area: exhibition;
}

.post {
    grid-area: post;
    background-color: #FFCC48;
    margin-right: 10px;
}

.post h2 {
    transform: rotate(-90deg) translateX(-240%);
}

.posters {
    grid-area: posters;
}

.web {
    grid-area: web;
    background-color: #FFCC48;
    margin-right: 10px;
}

.web_posters {
    grid-area: web_posters;
    padding-top: 200px;
    padding-bottom: 100px;
}

.plak_img {
    border: 3px solid black;
    z-index: 3;
}


footer {
    grid-area: footer;
}

/*======================================*/
.dop {
    flex-basis: calc((100% - 100px) * 5 / 11 + 40px);
    text-align: left;
    font-size: 0.75rem;
}

.nav3 {
    flex-basis: calc((100% - 100px) * 4 / 11 + 30px);
}

.menu a {
    margin: 0 5px;
}

/*=======================================*/
.exhibition {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item1 {
    flex-basis: calc((100% - 100px) * 3 / 11 + 20px);
    display: flex;
    flex-direction: column;
}

.but2 {
    margin-top: auto;
    margin-bottom: 0;
}

.item2 {
    flex-basis: calc((100% - 100px) * 6 / 11 + 50px);
}

.item2 .ex_img,
.Plakat .plak_img,
.WebPlakat .plak_img {
    width: 100%;
}

/*===========================================*/
.posters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 200px;
}

.Plakat {
    flex-basis: calc((100% - 100px) * 3 / 11 + 20px);
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.plak_img {
    margin-top: auto;
}

.butts {
    text-align: center;
}

.prev,
.next {
    padding: 20px 15%;
    display: inline-block;
}

/*===========================================*/
.web_posters {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.WebPlakat {
    flex-basis: calc((100% - 100px) * 4 / 11 + 30px);
}

.web h2 {
    width: 340px;
    transform: rotate(-90deg) translateX(-96%) translateY(-200%);
}

@media screen and (max-width: 1660px) {
    .exhib h2 {
        transform: rotate(-90deg) translateX(-110%);
    }

    .post h2 {
        transform: rotate(-90deg) translateX(-290%);
    }
}

@media screen and (max-width: 1440px) {
    .web h2 {
        transform: rotate(-90deg) translateX(-70%) translateY(-320%);
    }

    .exhib h2 {
        transform: rotate(-90deg) translateX(-80%);
    }

    .post h2 {
        transform: rotate(-90deg) translateX(-320%);
    }

}

@media screen and (max-width: 1280px) {
    .web h2 {
        transform: rotate(-90deg) translateX(-74%) translateY(-320%);
    }

    .exhib h2 {
        transform: rotate(-90deg) translateX(-110%);
    }

    .post h2 {
        transform: rotate(-90deg) translateX(-380%);
    }

}

@media screen and (max-width: 1024px) {
    .web h2 {
        transform: rotate(-90deg) translateX(-74%) translateY(-370%);
    }

}

/*==================================*/
@media screen and (max-width: 768px) {
    .main_grid {
        grid-template-columns: calc((100% - 80px) / 9 + 10px) 1fr;
    }

    .nav3 {
        position: absolute;
        padding-top: 100px;

    }

    h2 {
        font-size: 1.5rem;
    }

    .item1 {
        padding-top: 50px;
    }

    h3 {
        padding-top: 80px;
    }

    .left0,
    .exhib,
    .post,
    .web {
        margin-right: 0;
    }

    .item2 {
        order: -1;
        flex-basis: 100%;
        margin: 0;
    }

    .posters,
    .web_posters {
        padding-top: 50px;
    }

    .Plakat,
    .WebPlakat,
    .item1 {
        flex-basis: calc((100% - 70px) * 6 / 8 + 50px);
    }

    h1.dop {
        display: none;
    }

    .web h2 {
        transform: rotate(-90deg) translateX(-54%) translateY(-360%);
    }

    .exhib h2 {
        transform: rotate(-90deg) translateX(-130%);
    }

    .post h2 {
        transform: rotate(-90deg) translateX(-360%);
    }


}

@media screen and (max-width: 375px) {
    .web h2 {
        transform: rotate(-90deg) translateX(-22%) translateY(-830%);
    }

    .post h2 {
        transform: rotate(-90deg) translateX(-804%);
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-size: 18px;
        padding-top: 80px;
    }

    .nav3 {
        position: absolute;
        right: 10%;

    }

}