@import url(main.css);

.nav3 {
    color: black;
    text-align: right;
}

.menu a {
    color: black;
    font-size: 1rem;
}

#menuOn {
    display: none;
}

.menu li {
    display: inline-block;
}

.mobMenu {
    display: none;
    position: absolute;
    top: 20px;
    left: calc(((100% - 80px) / 9 - 30px) / 2);
}

.main_grid {
    display: grid;
    grid-template-columns: calc((100% - 110px) /12) 1fr;
    /*grid-template-rows: ;*/
    grid-template-areas:
        "left0 galleryMain"
        "find game"
        "footer footer";
}

.left0 {
    grid-area: left0;
    background-color: #FFCC48;
}

.find {
    grid-area: find;
    background-color: #FFCC48;
}

.game {
    grid-area: game;
    background-image: url(../pictures/mini.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
    cursor: url("../pictures/cursor.svg"), pointer
}

.galleryMain {
    grid-area: galleryMain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

footer {
    grid-area: footer;
}

.score {
    position: absolute;
    color: white;
    top: 6vw;
    left: 10vw;
}

.score h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.levelNum,
.score_res,
.lookNum {
    padding: 5px;
    margin: 10px 0;
    border: 2px solid white;
}

.dodoSymb {
    position: absolute;
    width: 90px;
}

.find h2 {
    width: 300px;
    transform: rotate(-90deg) translateX(-40%) translateY(-160%);
}

.start {
    font-size: 1rem;
    border: 3px solid white;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    width: 182px;
    height: 52px;
    margin: 30px 0;
    display: inline-block;
    padding-top: 10px;
}

@media screen and (max-width: 1660px) {

    .find h2 {
        transform: rotate(-90deg) translateX(-40%) translateY(-180%);
    }

}

@media screen and (max-width: 1440px) {

    .find h2 {
        transform: rotate(-90deg) translateX(-20%) translateY(-280%);
    }

}

@media screen and (max-width: 1024px) {

    .find h2 {
        transform: rotate(-90deg) translateX(-20%) translateY(-320%);
    }

    .score {
        padding-top: 50px;
    }

    h1 {
        font-size: 18px;
    }

}

@media screen and (max-width: 768px) {

    .left0>div,
    .find>div {
        flex-basis: calc((100% - 70px) * 6 / 8 + 50px);
    }

    .find h2 {
        font-size: 1rem;
        transform: rotate(-90deg) translateX(0%) translateY(-500%);
    }

    .score {
        padding-top: 50px;
    }


}

@media screen and (max-width: 375px) {
    .nav3 {
        text-align: center;
    }

    h2 {
        display: none;
    }

    .score {
        width: 100px;
    }

    .start {
        width: 100px;
    }

    .hh {
        display: none;
    }
}