@import url(main.css);

.nav3 {
    color: black;
    text-align: right;
    margin: 0 10px;
    flex-basis: calc((100% - 100px) * 4 / 11 + 30px);
}

.dop {
    flex-basis: calc((100% - 100px) * 5 / 11 + 40px);
    text-align: left;
    font-size: 0.75rem;
    margin: 0 10px;
}

.menu a {
    color: black;
    font-size: 1rem;
}

#menuOn {
    display: none;
}

p {
    font-size: 18px;
}

h3 {
    padding-bottom: 30px;
}

.menu a {
    margin: 0 5px;
}

.menu li {
    display: inline-block;
}

.mobMenu {
    display: none;
    position: absolute;
    top: 20px;
    left: calc(((100% - 80px) / 9 - 30px) / 2);
}

.main_grid {
    display: grid;
    grid-template-columns: calc((100% - 110px) /12 + 10px) 1fr;
    /*grid-template-rows: 0.5fr 1fr 1fr 200px;*/

    grid-template-areas:
        "left0 galleryMain"
        "info1 ticket"
        "info2 ticketType"
        "footer footer";
}

.left0 {
    grid-area: left0;
    background-color: #FFCC48;
    margin-right: 10px;
}

.galleryMain {
    grid-area: galleryMain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.info1 {
    grid-area: info1;
    background-color: #FFCC48;
    margin-right: 10px;
}

.info2 {
    grid-area: info2;
    background-color: #FFCC48;
    margin-right: 10px;
}

.ticket {
    grid-area: ticket;
}

.ticketType {
    grid-area: ticketType;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type {
    flex-basis: calc((100% - 100px) * 3 /11 + 20px);
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.choose {
    margin-top: auto;
}

footer {
    grid-area: footer;
}

.ticket {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item_t {
    flex-basis: calc((100% - 100px) * 4 /11 + 30px);
    margin: 0 10px;
}

.item_t img {
    width: 100%;
}

.item_t:last-child {
    max-width: calc((100% - 100px) * 4 /11 + 30px);
}

.item_t:first-child {
    display: flex;
    flex-direction: column;
}

.but2 {
    margin-top: auto;
}

.ticket {
    padding-top: 100px;
    padding-bottom: 200px;
}

.ticketType {
    padding-bottom: 150px;
}

.price {
    padding-top: 20px;
}

.info2 h2 {
    transform: rotate(-90deg) translateX(12%);
}

@media screen and (max-width: 1280px) {
    .info1 h2 {
        transform: rotate(-90deg) translateX(-132%);
    }
}

@media screen and (max-width: 1280px) {


    .ticket {
        padding-top: 200px;
    }

    .ticketType {
        padding-top: 100px;
    }

    .info1 h2 {
        transform: rotate(-90deg) translateX(-322%);
    }

    .info2 h2 {
        transform: rotate(-90deg) translateX(-132%);
    }
}

@media screen and (max-width: 768px) {


    .main_grid {
        grid-template-columns: calc((100% - 80px) / 9 + 10px) 1fr;
    }

    h2 {
        font-size: 30px;
    }


    .item_t,
    .type {
        flex-basis: calc((100% - 70px) * 6 / 8 + 50px);
    }

    .item_t:last-child {
        max-width: 100%;
    }

    .ticket {
        padding-top: 170px;
    }

    .item_t p {
        padding-bottom: 30px;
    }

    .choose {
        margin: 0 auto;
    }

    .ticketType h3 {
        padding-top: 80px;
    }

    h1.dop {
        display: none;
    }


    .nav3 {
        color: black;
        text-align: right;
    }

    .menu a {
        color: black;
        font-size: 1rem;
    }

}

@media screen and (max-width: 375px) {

    ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;
    }


    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .item_t img {
        padding-top: 50px;
    }

    .ticket {
        padding-bottom: 0;
    }

    .price {
        padding-top: 10px;
    }

    .ticketType h3 {
        padding-top: 40px;
    }

    .info1 h2 {
        transform: rotate(-90deg) translateX(-592%);
    }

    .info2 h2 {
        transform: rotate(-90deg) translateX(-432%);
    }

}